code {
  background-color: lightgray;
}

p code {
  border-radius: 5px;
}

blockquote {
  border: 1px solid skyblue;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid skyblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px solid lightgray;
}

img {
  width: 100%;
}

#mdDisplay {
  pointer-events: none;
}
